{%extends 'base.html'%}
{%block navbar%}
<ul>
    <li><a href="{{url_for('register')}}">Registrati</a></li>
    <li><a href ="{{url_for('login')}}">Login</a></li>
</ul>
{%endblock%}
{%block content%}
<form method="post" action="/login">
    <input type = 'text' name = 'username'  placeholder="Inserisci username">
    <input type = 'password' name = 'password'  placeholder="Inserisci password">
    <input type = 'submit' value="Accedi">
</form>
{%with error = get_flashed_messages()%}
    {% if error%}
        {%for e in error%}
            <h1 style="color: red;">{{e}}</h1>
        {%endfor%}
    {%endif%}
{%endwith%}
{%endblock%}