{%extends 'base.html'%}
{%block navbar%}
<ul>
    <li><a href="{{url_for('register')}}"> Registrati</a></li>
    <li><a href="{{url_for('login')}}">Login</a></li>
</ul>
{%endblock%}
{%block content%}
<form method="post" action = '/'>
    <input type="text" name = 'nome'  placeholder="Inserisci il tuo nome">
    <input type="text"  name = 'cognome' placeholder="Inserisci il tuo cognome">
    <input type="text" name = 'username' placeholder="Inserisci il tuo username">
    <input type="password" name = 'password' placeholder="Inserisci la tua password">
    <input type="password" name = 'v_password' placeholder="Conferma la tua password">
    <input type="submit" value="Registrati">
</form>
{%with error = get_flashed_messages()%}
    {%if error%}
        {% for e in error%}
            <h1 style="color: red;">{{e}}</h1>
        {%endfor%}
    {%endif%}
{%endwith%}
{%endblock%}
